<div data-role="content" data-theme="c" style="padding:0;">
  <div id='adminHailPage'>


    <h1 class='pageTitle'>Customer First Seated Hails</h1>

    <br />
    <div class="adminHailTable">
      <table>
        <thead>
          <tr>
            <th rowspan="2" class="th1">Customer</th>
            <th rowspan="2" class="th2"></th>
            <th colspan="2">Timestamps</th>
            <th rowspan="2" class="th5">Elapsed time</th>
            <th rowspan="2" class="th6">How Initiated (1st seated or HAIL?) (Resolution)</th>
            <th rowspan="2" class="th7">Action</th>
          </tr>
          <tr>
            <th class="th3">Initiated</th>
            <th class="th4">Closed</th>
          </tr>
        </thead>

        <tbody>
          <% for customer_hails in @hails_grouped_by_customer %>
            <% recent_hail = customer_hails.shift %>

            <tr class="current">
              <td rowspan="2"><%= recent_hail.customer.first_name %><br /><%= image_tag("https://graph.facebook.com/#{recent_hail.customer.uid}/picture") -%></td>
              <td ><%= recent_hail.pending? ? "Active" : "Close" %></td>
              <td><p><%= recent_hail.initiated_at.strftime("%m/%d/%Y @%H:%S%p") %></p></td>
              <td><%= recent_hail.closed_at.present? ? "<p>#{recent_hail.closed_at.strftime("%m/%d/%Y @%H:%S%p")}</p>".html_safe : '' %></td>
              <td>
                <% elapsed_time = (recent_hail.closed_at || Time.now) - recent_hail.initiated_at %>
                <% mm, ss = elapsed_time.divmod(60) %>
                <% hh, mm = mm.divmod(60) %>
                <p><%= "#{hh}h #{mm}m #{ss.ceil}s" %></p>
              </td>
              <td><p><%= recent_hail.initiated_status %></p></td>
              <td>
                <% if recent_hail.pending? %>
                  <%= link_to "Done", mark_done_hail_path(recent_hail), :method => "PUT", :class => "doneBtn button-link", :style => "color: #ffffff;" %>
                <% end %>
              </td>
            </tr>
            
            <tr class="history">
              <td><a class='openHistory'>History +/-</a></td>
              <td>
                <% for hail in customer_hails %>
                  <p><%= hail.initiated_at.strftime("%m/%d/%Y @%H:%S%p") %></p>
                <%end%>
              </td>
              <td>
                <% for hail in customer_hails %>
                  <%= hail.closed_at.present? ? "<p>#{hail.closed_at.strftime("%m/%d/%Y @%H:%S%p")}</p>".html_safe : '' %>
                <% end %>
              </td>
              <td>
                <% for hail in customer_hails %>
                  <% elapsed_time = (hail.closed_at || Time.now) - hail.initiated_at %>
                  <% mm, ss = elapsed_time.divmod(60) %>
                  <% hh, mm = mm.divmod(60) %>
                  <p><%= "#{hh}h #{mm}m #{ss.ceil}s" %></p>
                <%end%>
              </td>
              <td>
                <% for hail in customer_hails %>
                  <p><%= hail.initiated_status %></p>
                <% end %>
              </td>
              <td>
                <% for hail in customer_hails %>
                  <p style='height: auto;'>
                    <% if hail.pending? %>
                      <%= link_to "Done", mark_done_hail_path(hail), :method => "PUT", :class => "doneBtn button-link", :style => "color: #ffffff;" %>
                    <% end %>
                  </p>
                <% end %>
              </td>
            <tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
