<div data-role="content" data-theme="c" style="padding:0;">
  <div id='adminHailPage'>


    <h1 class='pageTitle'>Customer First Seated Hails</h1>

    <br />
    <div class="adminHailTable">
      <table>
        <thead>
          <tr>
            <th rowspan="2" class="th1">Customer</th>
            <th rowspan="2" class="th2"></th>
            <th colspan="2">Timestamps</th>
            <th rowspan="2" class="th5">Elapsed time</th>
            <th rowspan="2" class="th6">How Initiated (1st seated or HAIL?) (Resolution)</th>
            <th rowspan="2" class="th7">Action</th>
          </tr>
          <tr>
            <th class="th3">Initiated</th>
            <th class="th4">Closed</th>
          </tr>
        </thead>
        <% for time in @times %>
          <tbody class="customerRow">
            <tr class="current">
              <td rowspan="2"><%= time.time_sheet.customer.first_name %><br /><%= image_tag("https://graph.facebook.com/#{time.time_sheet.customer.uid}/picture") -%></td>
              <td ><%= time.end_time.present? ? "Close" : "Active" %></td>
              <td>
                <p><%= time.start_time.strftime("%m/%d/%Y @%H:%S%p") %></p>
              </td>
              <td>
                <p><%= time.end_time.strftime("%m/%d/%Y @%H:%S%p") if time.end_time.present? %></p>
              </td>
              <td>
                <p><%=
                  # NJS - DRY this
                  mm, ss = time.time_sheet.total_time.divmod(60)
                  hh, mm = mm.divmod(60)
                  "#{hh}h #{mm}m #{ss.ceil}s"
                %></p>
              </td>
              <td>
                <p>1st seated</p>
              </td>
              <td>
                <%= form_tag url_for(:controller => "admin/hails/#{time.id}"), :method => :put do -%>
                  <%= hidden_field_tag :id, time.id -%>
                  <a class='doneBtn button-link' style="color: #fff;">Done</a>
                <% end %>
              </td>
            </tr>
            <% time_sheets = TimeSheetEntry.where("time_sheets.customer_id = #{time.time_sheet.customer.id}").joins(:time_sheet) %>
            <tr class="history">
              <td><a class='openHistory'>History +/-</a></td>
              <td>
                <% for history in time_sheets %>
                  <p><%= history.start_time.strftime("%m/%d/%Y @%H:%S%p") %></p>
                <%end%>
              </td>
              <td>
                <% for history in time_sheets %>
                  <p><%= history.end_time.strftime("%m/%d/%Y @%H:%S%p") if history.end_time.present? %></p>
                <%end%>
              </td>
              <td>
                <% for history in time_sheets %>
                  <p><%=
                    mm, ss = history.time_sheet.total_time.divmod(60)
                    hh, mm = mm.divmod(60)
                    "#{hh}h #{mm}m #{ss.ceil}s"
                  %>
                  </p>
                <%end%>
              </td>
              <td>
                <% for history in time_sheets %>
                  <p>HAIL (DONE)</p>
                <%end%>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>