<h2>Staff dashboard</h2>
<%=form_tag add_hours_info_admin_dashboard_index_path do%>
Options:<br/>

<%=radio_button_tag 'hours_amount', '4_10'%> 4hrs $10 <br/>
<%=radio_button_tag 'hours_amount', '10_20'%> 10hrs $20 <br/>
<%=radio_button_tag 'hours_amount', '40_70'%> 40hrs $70 <br/>

Payment method:<br/>

<%=radio_button_tag 'payment_option', '1',:checked => true%> Cash <br/>
<%=radio_button_tag 'payment_option', '4'%> Credit card <br/>

<%=submit_tag "Continue", :class => "admin_submit_button btn btn-large btn-primary"%>
<%end%>

<script type="text/javascript">
<%unless session[:hours].nil? || session[:payment_option].nil?%>
$("#hours_amount_<%=session[:hours]%>").attr("checked", "checked");
$("#payment_option_<%=session[:payment_option]%>").attr("checked", "checked");
<%end%>
<%unless @customer.pay_plan.blank?%>
$("#hours_amount_<%=@customer.pay_plan%>").attr("checked", "checked");
<%end%>

</script>
