<h2>Staff dashboard</h2>
<%=form_tag add_free_hours_info_admin_dashboard_index_path do%>
Number of hours: <%=text_field_tag "num_hours"%><br/><br/>
Reason / comment: <%=text_field_tag "description"%><br/><br/>
Staff initials: <%=text_field_tag "staff_details"%><br/><br/>
<%=submit_tag "Submit"%>
<%end%>