<h2>Staff dashboard</h2>
<%=@customer.first_name+" "+@customer.last_name%> – <%=session[:hours]%> hours FREE<br/>
<div class= "list_grid_but list_buttons"><%=link_to "Confirm",confirm_free_hours_admin_dashboard_index_path(:selected => "confirm")%></div>
<div class= "list_grid_but list_buttons"><%=link_to "Edit",confirm_free_hours_admin_dashboard_index_path(:selected => "edit")%></div>
<div class= "list_grid_but list_buttons"><%=link_to "Cancel",confirm_free_hours_admin_dashboard_index_path(:selected => "cancel")%></div>