<h2>Staff dashboard</h2>
<%=form_tag add_free_hours_info_admin_dashboard_index_path do%>
Number of hours: <%=text_field_tag "num_hours"%><br/><br/>
Reason / comment: <%=text_field_tag "description"%><br/><br/>
Staff initials: <%=text_field_tag "staff_details"%><br/><br/>
<%=submit_tag "Submit", :class => "admin_submit_button" %>
<%end%>
<%unless session[:hours].nil? || session[:description].nil? || session[:staff_details].nil?%>
<script type="text/javascript">
$("#num_hours").val('<%=session[:hours]%>');
$("#description").val('<%=session[:description]%>');
$("#staff_details").val('<%=session[:staff_details]%>');
</script>
<%end%>