<h2>Staff dashboard</h2>
<%unless (session[:payment].nil? || @payment.nil?) && session[:free_payment].nil?%>
<% if session[:free_payment].nil? %>
<h3>Confirmed! <%=@payment.minutes/60%> hours added. Please collect
$<%=@payment.amount%> to complete purchase.
</h3>
<%end%>
<table class="add_table">
<tr>
<td><%=@payment.created_at.strftime("%m/%d")%></td>
<td><%=@payment.created_at.strftime("%I:%M %p")%></td>
<td class="whide">Added <%=@payment.minutes/60%> hrs</td>
<td><%=@payment.minutes/60%> hrs</td>
</tr>
</table>
<%if @payment.pos_status.blank? && session[:free_payment].nil?%>
	<div class="payment_confirmation"><%=link_to 'Confirm', pos_confirmation_step_admin_dashboard_index_path, :class => "btn btn-primary"%></div>
<%else
session[:payment] = nil
end%>
<%session[:free_payment] = nil unless session[:free_payment].nil?%>
<%else%>
<%if session[:refund_payment_id]&&session[:refund_payment]&&@payment%>
<table class="add_table">
<tr>
<td><%=@payment.created_at.strftime("%m/%d")%></td>
<td><%=@payment.created_at.strftime("%I:%M %p")%></td>
<td class="whide">Removed <%=(session[:refund_payment][1].to_i/60).round(2)%> hrs</td>
<td><%=(@customer.lat_total_in_account/60).round(2)%> hrs</td>
</tr>
</table>
<%if @payment.pos_status.blank? %>
	<div class="payment_confirmation"><%=link_to 'Confirm', refund_confirmation_info_admin_dashboard_index_path%></div>
<%end%>
<%session[:refund_payment_id] = nil unless session[:refund_payment_id].nil? || @payment.pos_status.blank?%>
<%else%>
<h3><%=@customer.first_name+" "+@customer.last_name %> – Usage Summary</h3>
<%end%>
<%end%>
<table class="table table-hover">
<thead>
<tr>
<th>Date</th>
<th>In</th>
<th>Out</th>
<th>Duration</th>
<th>Used</th>
<th>Added/Removed</th>
<th>Free/Purchased/Refunded</th>
<th>Purchase method</th>
<th>Refunded method</th>
<th>In Account</th>
<th>Staff Initials</th>
<th>Comments</th>
<th>Pos Conformation</th>
</tr>
</thead>
<tbody>
<%@time_sheets.each_with_index do |used,i|%>
<tr class="<%=i.even? ? "even" : "odd"%>">
<td><%=used.created_at.strftime("%m/%d")%></td>
<td><%=used.start_time.strftime("%I:%M %p") rescue "None"%></td>
<td><%=used.end_time.strftime("%I:%M %p") rescue "None"%></td>
<td><%=timesheet_duration(used.end_time - used.start_time)  rescue "None"%></td>
<td><%=timesheet_used(used.end_time - used.start_time)  rescue "None"%></td>
<td><%=used.added_removed_status%></td>
<td><%=used.transaction_status%></td>
<td><%=used.purchase_method%></td>
<td><%=used.refunded_method%></td>
<td><%=cal_time_with_minutes(used.remining_minits) rescue "None"%></td>
<td><%=used.staff_intials%></td>
<td><%=used.comments%></td>
<td><%=used.pos_conformation%></td>
</tr>
<%end%>
</tbody>
</table>
<div>
<div><div class= "list_grid_but"><a href="<%=add_hours_page_admin_dashboard_index_url%>" class="btn btn-large btn-primary">Add hours</a></div><div class= "list_grid_but"><%=link_to "Free", add_free_hours_admin_dashboard_index_path, :class => "btn btn-large btn-primary"%></div></div>
<div><div class= "list_grid_but"><%=link_to "Remove hours",payment_list_admin_dashboard_index_path, :class => "btn btn-large btn-primary"%></div><div class= "list_grid_but"><a href="<%=add_hours_admin_dashboard_index_url%>" class="btn btn-large btn-primary">Paid</a></div></div>
</div>