<h2>Staff dashboard</h2>
<h3><%=@customer.first_name+" "+@customer.last_name %> – Usage Summary</h3>
<table>
<thead>
<th>
<td>Date</td>
<td>In</td>
<td>Out</td>
<td>Duration</td>
<td>Used</td>
<td>In Account</td>
</th>
</thead>
<tbody>
<%@time_sheets.each do |used|%>
<tr>
<td></td>
<td><%=used.created_at.strftime("%m/%d")%></td>
<td><%=used.start_time.strftime("%I:%M %p")%></td>
<td><%=used.end_time.strftime("%I:%M %p")%></td>
<td><%=timesheet_duration(used.end_time - used.start_time)%></td>
<td><%=timesheet_used(used.end_time - used.start_time)%></td>
<td></td>
</tr>
<%end%>
</tbody>
</table>
<div>
<div><div class= "list_grid_but"><a href="#">Add hours</a></div><div class= "list_grid_but"><a href="#">Free</a></div></div>
<div><div class= "list_grid_but"><a href="#">Remove hours</a></div><div class= "list_grid_but"><a href="#">Paid</a></div></div>
</div>