<h2>Staff dashboard</h2>
<%unless (session[:payment].nil? || @payment.nil?) && session[:free_payment].nil?%>
<% if session[:free_payment].nil? %>
<h3>Confirmed! <%=@payment.minutes/60%> hours added. Please collect
$<%=@payment.amount%> to complete purchase.
</h3>
<%end%>
<table class="add_table">
<tr>
<td><%=@payment.created_at.strftime("%m/%d")%></td>
<td><%=@payment.created_at.strftime("%I:%M %p")%></td>
<td class="whide">Added <%=@payment.minutes/60%> hrs</td>
<td><%=@payment.minutes/60%> hrs</td>
</tr>
</table>
<%if @payment.pos_status.blank? && session[:free_payment].nil?%>
	<div class="payment_confirmation"><%=link_to 'Confirm', pos_confirmation_step_admin_dashboard_index_path%></div>
<%end%>
<%session[:free_payment] = nil unless session[:free_payment].nil?%>
<%else%>
<%if session[:refund_payment_id]&&session[:refund_payment]&&@payment%>
<table class="add_table">
<tr>
<td><%=@payment.created_at.strftime("%m/%d")%></td>
<td><%=@payment.created_at.strftime("%I:%M %p")%></td>
<td class="whide">Removed <%=(session[:refund_payment][1].to_i/60).round(2)%> hrs</td>
<td><%=(@customer.lat_total_in_account/60).round(2)%> hrs</td>
</tr>
</table>
<%if @payment.pos_status.blank? %>
	<div class="payment_confirmation"><%=link_to 'Confirm', refund_confirmation_info_admin_dashboard_index_path%></div>
<%end%>
<%session[:refund_payment_id] = nil unless session[:refund_payment_id].nil? || @payment.pos_status.blank?%>
<%else%>
<h3><%=@customer.first_name+" "+@customer.last_name %> – Usage Summary</h3>
<%end%>
<%end%>
<table class="usage_summary">
<thead>
<th>
<td>Date</td>
<td>In</td>
<td>Out</td>
<td>Duration</td>
<td>Used</td>
<td>In Account</td>
</th>
</thead>
<tbody>
<%@time_sheets.each_with_index do |used,i|%>
<tr class="<%=i.even? ? "even" : "odd"%>">
<td></td>
<td><%=used.created_at.strftime("%m/%d")%></td>
<td><%=used.start_time.strftime("%I:%M %p")%></td>
<td><%=used.end_time.strftime("%I:%M %p") rescue "None"%></td>
<td><%=timesheet_duration(used.end_time - used.start_time)  rescue "None"%></td>
<td><%=timesheet_used(used.end_time - used.start_time)  rescue "None"%></td>
<td><%=cal_time_with_minutes(used.remining_minits) rescue "None"%></td>
</tr>
<%end%>
</tbody>
</table>
<div>
<div><div class= "list_grid_but"><a href="<%=add_hours_page_admin_dashboard_index_url%>">Add hours</a></div><div class= "list_grid_but"><%=link_to "Free", add_free_hours_admin_dashboard_index_path%></div></div>
<div><div class= "list_grid_but"><%=link_to "Remove hours",payment_list_admin_dashboard_index_path%></div><div class= "list_grid_but"><a href="<%=add_hours_admin_dashboard_index_url%>">Paid</a></div></div>
</div>