<h2>Staff dashboard</h2>
<div class="error_alert"><%=flash[:alert] unless flash[:alert].nil? %></div>
<%=form_tag payment_refund_admin_dashboard_index_path, :class => "pay_ment_form" do%>
<table class="table table-hover">
<thead>
<tr>
<th></th>
<th>Date</th>
<th>Hours</th>
<th>Paid</th>
<th>Payment Method</th>
<th>Status</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<%@payments.each do |payment|%>
<%@availabule_minits -=payment.minutes  unless payment.flavor == Payment::FLAVORS[:cc_refund]%>
<tr class="pay_row">
<td><%=radio_button_tag 'payment', get_id_for_payment_list(payment, @availabule_minits)%></td>
<td><%=payment.created_at.strftime("%m/%d")%></td>
<td><%=(payment.minutes/60).round(1)%></td>
<td>$<%=payment.amount%></td>
<td><%=payment_type(payment.payment_type)%></td>
<td><%=payment_status(payment, @availabule_minits)%></td>
<td><%=link_to "More...", transaction_details_admin_dashboard_index_path(:id => payment.id, :available_minutes => @availabule_minits)%></td>
</tr>
<%end%>
</tbody>
</table>
<%end%>
<script type="text/javascript">
$('.pay_row').click(function(){
$(this).find('input').attr("checked", "checked");
$('.pay_ment_form').submit();
});
</script>