<h2>Customer Initiated Hails</h2>
<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Seat At</th>
      <th>Customer Photo</th>
      <th>Mark Done</th>
    </tr>
  </thead>
  <tbody>
    <% if Hail.pending.type_customer_initiated.size == 0 %>
    <td colspan="4">no customer initiated hails</td>
  <% end %>
  <% Hail.pending.type_customer_initiated.each do |hail| %>
    <tr>
      <td><%= hail.customer.first_name -%> <%= hail.customer.last_name -%></td>
      <td><%= "#{hail.customer.current_seat.name} (id ##{hail.customer.current_seat.id})" -%></td>
      <td><%= image_tag("https://graph.facebook.com/#{hail.customer.uid}/picture") -%></td>
      <td>
        <%= form_tag url_for(:controller => "admin/hails/#{hail.id}"), :method => :put do -%>
          <%= hidden_field_tag :id, hail.id -%>

          <%= submit_tag 'done' -%>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<h2>Customer First Seated Hails</h2>
<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Seat At</th>
      <th>Customer Photo</th>
      <th>Mark Done</th>
    </tr>
  </thead>
  <tbody>
    <% if Hail.pending.type_first_seat.size == 0 %>
    <td colspan="4">no customer first seated hails</td>
  <% end %>
  <% Hail.pending.type_first_seat.each do |hail| %>
    <tr>
      <td><%= hail.customer.first_name -%> <%= hail.customer.last_name -%></td>
      <td><%= "#{hail.customer.current_seat.name} (id ##{hail.customer.current_seat.id})" -%></td>
      <td><%= image_tag("https://graph.facebook.com/#{hail.customer.uid}/picture") -%></td>
      <td>
        <%= form_tag url_for(:controller => "admin/hails/#{hail.id}"), :method => :put do -%>
          <%= hidden_field_tag :id, hail.id -%>

          <%= submit_tag 'done' -%>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<h2>Customer Initiated Hails Marked Done</h2>
<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Customer Photo</th>
      <th>created on</th>
      <th>updated on</th>
    </tr>
  </thead>
  <tbody>
    <% if Hail.done.type_customer_initiated.size == 0 %>
    <td colspan="4">no hails marked as done</td>
  <% end %>
  <% Hail.done.type_customer_initiated.each do |hail| %>
    <tr>
      <td><%= hail.customer.first_name -%> <%= hail.customer.last_name -%></td>
      <td><%= image_tag("https://graph.facebook.com/#{hail.customer.uid}/picture") -%></td>
      <td><%= hail.created_at.strftime("%-m/%-d %l:%M%P") -%></td>
      <td><%= hail.updated_at.strftime("%-m/%-d %l:%M%P") -%></td>
    </tr>
  <% end %>
</tbody>
</table>


<h2>First Seated Hails Marked Done</h2>
<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Customer Photo</th>
      <th>created on</th>
      <th>updated on</th>
    </tr>
  </thead>
  <tbody>
    <% if Hail.done.type_first_seat.size == 0 %>
    <td colspan="4">no hails marked as done</td>
  <% end %>
  <% Hail.done.type_first_seat.each do |hail| %>
    <tr>
      <td><%= hail.customer.first_name -%> <%= hail.customer.last_name -%></td>
      <td><%= image_tag("https://graph.facebook.com/#{hail.customer.uid}/picture") -%></td>
      <td><%= hail.created_at.strftime("%-m/%-d %l:%M%P") -%></td>
      <td><%= hail.updated_at.strftime("%-m/%-d %l:%M%P") -%></td>
    </tr>
  <% end %>
</tbody>
</table>

<h2>Hails Canceled</h2>
<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Customer Photo</th>
      <th>created on</th>
      <th>updated on</th>
    </tr>
  </thead>
  <tbody>
    <% if Hail.customer_canceled.size == 0 %>
    <td colspan="4">no hails marked as canceled</td>
  <% end %>
  <% Hail.customer_canceled.each do |hail| %>
    <tr>
      <td><%= hail.customer.first_name -%> <%= hail.customer.last_name -%></td>
      <td><%= image_tag("https://graph.facebook.com/#{hail.customer.uid}/picture") -%></td>
      <td><%= hail.created_at.strftime("%-m/%-d %l:%M%P") -%></td>
      <td><%= hail.updated_at.strftime("%-m/%-d %l:%M%P") -%></td>
    </tr>
  <% end %>
</tbody>
</table>


<h2>Hails Canceled When Customer Left</h2>
<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Customer Photo</th>
      <th>created on</th>
      <th>updated on</th>
    </tr>
  </thead>
  <tbody>
    <% if Hail.customer_left.size == 0 %>
    <td colspan="4">no hails marked as canceled when customer left</td>
  <% end %>
  <% Hail.customer_left.each do |hail| %>
    <tr>
      <td><%= hail.customer.first_name -%> <%= hail.customer.last_name -%></td>
      <td><%= image_tag("https://graph.facebook.com/#{hail.customer.uid}/picture") -%></td>
      <td><%= hail.created_at.strftime("%-m/%-d %l:%M%P") -%></td>
      <td><%= hail.updated_at.strftime("%-m/%-d %l:%M%P") -%></td>
    </tr>
  <% end %>
</tbody>
</table>

